body{
border:15px solid orange;
}
h3
{ color:green;}

label{
color:red;
}

body
{
background:url('https://c4.wallpaperflare.com/wallpaper/91/664/1018/love-wallpaper-preview.jpg');
background-size:1500px 1200px;
}
textarea{
background:gray
}
